.form {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.form button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
