header {
    background-color: #008000; /* Зелений фон */
    color: white; /* Білий колір тексту */
    padding: 20px; /* Додатковий внутрішній відступ для створення простору навколо контенту в заголовку */
}

header {
    background-color: lemonchiffon;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #008000;
}

header img {
    display: block;
    margin: 0 auto;
}
